extends layout

block content
  h1 Survey complete!


  .confirm-item 
    .field Mechanical Turk ID 
    .value #{fields.workerID}

  .confirm-item 
    .field Audio file
    .value #{file.originalname}
    .detail #{file.size} bytes

  .confirm-item 
    .field Confidence
    .value #{fields.confidence}
    
  .callout.confirm-item
    .field Survey complete code
    .value MCS101
  

