* {
    box-sizing: border-box;
}

body {
  padding: 50px;
  font: 18px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.field-group {
    margin-bottom: 50px;
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.field-group .error {
    font-size: 14px;
    color: #F44;
    font-weight: bold;
    margin-top: 5px;
}

.note {
    font-size: 16px;
    // font-weight: bold;
    border-left: 3px solid #6a6;
    padding: 10px 15px;
}

.note .text {
    color: #6A6;
    margin-bottom: 10px;
    line-height: 1.5em;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.question-image {
    display: block;
    margin-bottom: 20px;
}

.likert-group {
    width: 400px;
}

.likert-item {
    width: 19%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 1%;
    text-align: center;
}

label.likert-item {
    font-size: 16px;
    background: #eee;
    font-weight: normal;
}

.likert-labels {
    font-size: 14px;
    // font-weight: bold;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.likert-label {
    width: 50%;
    display: inline-block;
}

.likert-label.high {
    text-align: right;
}

input[type="submit"] {
    font-size: 18px;
    padding: 10px 20px;
    background: #2255FF;
    border: none;
    color: #fff;
}

input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}


.confirm-item {
    margin-bottom: 30px;
}

.confirm-item .field {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

.confirm-item .value {
    font-weight: bold;
}

.confirm-item .detail {
    font-size: 14px;
}

.confirm-item.callout {
    border: 1px solid #6A6;
    padding: 20px;
    width: 50%;
    background: #efe;
}

